@import '~antd/dist/antd.less';
#ice-container {
  height: 100%;
  isolation: isolate;
  .ant-pro-basicLayout-content {
    flex: 1;
    overflow: auto;
    padding: 24px;
    margin: 0;
  }
  .bytemd {
    height: calc(100vh - 64px);
  }
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.hand {
  cursor: pointer;
}
.form-x.form-x {
  padding: 0 24px 24px;
  background: #fff;
}
.form-x {
  text-align: center;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.main-card {
  height: 100%;
  .ant-pro-card-body {
    overflow: auto;
  }
  .ant-tree .ant-tree-treenode {
    padding-bottom: 10px;
  }
}
.c-title-x {
  cursor: pointer;
}
.c-title-x:hover {
  color: #1890ff;
}
.c-title {
  margin-left: 10px;
}
.ant-pro-basicLayout {
  height: 100%;
}
.ant-layout.ant-layout-has-sider {
  height: 100%;
}
.ant-pro-sider {
  height: 100%;
  overflow: auto;
}
.ar-x {
  height: 100%;
}
.ar-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  .submit-btn {
    margin-left: 20px;
  }
  .edit-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #1d2129;
    border: none;
    outline: none;
    margin-right: 20px;
  }
}
.table-x {
  background: #fff;
  padding: 0 24px;
  min-height: 100%;
}
.code-x {
  .ant-space-item:first-child {
    flex: 1;
  }
  width: 100%;
}

#container{
  width: 100%;
  height: 100%;
}